name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: Solvely-Colin/ci-template/.github/workflows/ci.yml@v1
    with:
      build-command: 'turbo build'
      test-command: 'turbo test'
      lint-command: 'turbo lint'
      has-prettier: false
      has-typescript: false
      bundle-size: false
