name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: Solvely-Colin/ci-template/.github/workflows/ci.yml@v1
    with:
      has-typescript: true
      has-prettier: true
      bundle-size: true
  commitlint:
    if: github.event_name == 'pull_request'
    uses: Solvely-Colin/ci-template/.github/workflows/commitlint.yml@v1
